// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* Main Styles
 _______________________*/
body {
    font-family: 'Lato', sans-serif;
}

.card {
    border: none !important;
}

a {
    text-decoration: none !important;
}

#image-gallery .modal-footer{
    display: block;
}

.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}

.masonry-column {
    padding: 0 1px;
}

.masonry-grid > div .thumbnail {
    margin: 5px 1px;
}
